In [1]:
##load the pickle file

In [2]:
import tensorflow as tf
import pandas as pd 
import pickle 
import numpy as np
from tensorflow.keras.models import load_model

In [36]:
#load the trained model,scaler pickle ,onehot
model=load_model('model.h5')

##load the encoder and scaler
with open('onehot_encoder.pkl','rb')as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [7]:
##example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [12]:
input_data=pd.DataFrame([input_data])
input_data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [11]:
geo_encoded= label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\91709\OneDrive\Documents\ANNproject\venv2\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [16]:
##encode categorical variable
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])
input_data

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [19]:
input_data

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:
input_data = pd.concat([input_data.drop('Geography', axis=1), geo_encoded_df], axis=1)

KeyError: "['Geography'] not found in axis"

In [24]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [25]:
 ##scaling the input   
input_scaler=scaler.transform(input_data)

In [26]:
input_scaler

array([[-0.55012981,  0.89091075,  0.12136034, -0.68041201, -0.28051905,
         0.84584804,  0.62670381,  0.968496  , -0.91572441,  1.00400803,
        -0.57427105, -0.58350885]])

In [27]:
prediction=model.predict(input_scaler   )

1/1 [==============================] - 0s 360ms/step

In [30]:
prediction_probability=prediction[0][0]

In [ ]:
print(prediction_probability)

<class 'numpy.float32'>
0.102489166

In [32]:
if prediction_probability>0.5:
    print('customer like to churn')
else:
    print('customer not like to churn')

customer not like to churn